<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CONTACT_SMTP_HOST" value="mail.kurumsaleposta.com"/>
    <add key="CONTACT_SMTP_PORT" value="587"/>
    <add key="CONTACT_SMTP_USER" value="YOUR_SMTP_USER"/>
    <add key="CONTACT_SMTP_PASSWORD" value="YOUR_SMTP_PASSWORD"/>
    <add key="CONTACT_SMTP_ENABLESSL" value="false"/>
    <add key="CONTACT_MAIL_FROM" value="YOUR_FROM_EMAIL"/>
    <add key="CONTACT_MAIL_TO" value="YOUR_TO_EMAIL"/>
    <add key="CONTACT_MAIL_BCC" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="MyConnectionString" connectionString="Server=YOUR_SERVER;Database=YOUR_DATABASE;User Id=YOUR_DB_USER;Password=YOUR_DB_PASSWORD;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
    <!-- Geçici debug için OFF yapabilirsin (1-2 dakika) -->
    <customErrors mode="Off"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpErrors existingResponse="PassThrough"/>
    <staticContent>
      <remove fileExtension=".webp"/>
      <mimeMap fileExtension=".webp" mimeType="image/webp"/>
      <!-- Eğer bu satır da 500 yaparsa bunu da kaldıracağız -->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00"/>
    </staticContent>
    <!-- Eğer bu kısım 500 yaparsa komple kaldır -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin"/>
        <add name="Permissions-Policy" value="geolocation=(), microphone=(), camera=()"/>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <rewrite>
      <rules>

        <rule name="Root to Anasayfa" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="anasayfa.aspx" />
        </rule>

        <rule name="Force HTTPS and WWW" stopProcessing="true">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTPS}" pattern="off"/>
            <add input="{HTTP_HOST}" pattern="^karasustilyuzme\.com$"/>
          </conditions>
          <action type="Redirect" url="https://www.karasustilyuzme.com/{R:1}" redirectType="Permanent"/>
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>